h1 {
    color: #000000;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 400;
}

form {
    max-width: 380px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .form-input {
        display: flex;
        flex-direction: column;
        h6 {
            color: #7E7E7E;
            margin-left: 16px;
            height: 20px;
        }
        margin-bottom: 25px;
    }
    .radio-btn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 47px;
        h3 {
            font-size: 16px;
            color: black;
            margin-bottom: 11px;
        }
        .flex {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--black-color);
            height: 26px;
            margin-bottom: 7px;
            label {
                margin-left: 12px;
            }
        }
    }
    .file {
        .file-custom {
            display: flex;
            width: 380px;
            height: 54px;
            border-radius: 4px;
            color: #000000;
            border: 1px solid #D0CFCF;
            align-items: center;
            justify-content: space-between;
            padding-right: 147px;
            color: #7E7E7E;
            input {
                display: none;
            }
            label {
                cursor: pointer;
                color: #000000;
                display: flex;
                align-items: center;
                padding: 16px 15px;
                border: 1px solid #000000;
                border-radius: 4px 0px 0px 4px;
            }
        }
        margin-bottom: 50px;
    }
    button {
        margin-bottom: 100px;
    }
}