<h1 class="text-center">Working with POST request</h1>
<form>
    <div class="form-input">
        <input class="input" type="text" name="name" placeholder="Your name">
        <input class="input" type="email" name="email" placeholder="Email">
        <input class="input" type="tel" name="phone" placeholder="Phone">
        <h6>+38 (XXX) XXX - XX - XX</h6>
    </div>
    <div class="radio-btn">
        <h3>Select your position</h3>
        <div class="flex">
            <input id="radio1" class="radio" type="radio" name="position">
            <label for="radio1">Frontend developer</label>
        </div>
        <div class="flex">
            <input id="radio2" class="radio" type="radio" name="position">
            <label for="radio2">Backend developer</label>
        </div>
        <div class="flex">
            <input id="radio3" class="radio" type="radio" name="position">
            <label for="radio3">Designer</label>
        </div>
        <div class="flex">
            <input id="radio4" class="radio" type="radio" name="position">
            <label for="radio4">QA</label>
        </div>
    </div>
    <div class="file">
        <div class="file-custom"><label for="file">Upload</label><input id="file" type="file" name="photo"><span>Upload your photo</span></div>
    </div>
    <div class="container">
        <button class="btn" disabled>Sign up</button>
    </div>
</form>
